<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app.host</key>
	<string>http://trivia.liveduel.com</string>
	<key>app.currencySymbol</key>
	<string>$</string>
	<key>socket.host</key>
	<string>http://trivia.liveduel.com</string>
	<key>socket.port</key>
	<string>3000</string>
	<key>wowza.host</key>
	<string>trivia.liveduel.com</string>
	<key>wowza.port</key>
	<string>1935</string>
	<key>wowza.application</key>
	<string>live</string>
	<key>settings.answer-time</key>
	<string>10</string>
	<key>settings.winners-time</key>
	<string>10</string>
	<key>facebook.client_id</key>
	<string>178868812814618</string>
	<key>video.width</key>
	<string>360</string>
	<key>video.height</key>
	<string>640</string>
	<key>colors.background</key>
	<string>#420039</string>
	<key>colors.text</key>
	<string>#ffffff</string>
	<key>colors.navbar.background</key>
	<string>#12355B</string>
	<key>colors.navbar.text</key>
	<string>#ffffff</string>
	<key>colors.system.background</key>
	<string>#fafaff</string>
	<key>colors.system.text</key>
	<string>#000000</string>
	<key>colors.system.button.background</key>
	<string>#D72638</string>
	<key>colors.system.button.text</key>
	<string>#ffffff</string>
	<key>colors.login.button.background</key>
	<string>#1affffff</string>
	<key>colors.login.button.text</key>
	<string>#ffffff</string>
	<key>colors.home.watch.background</key>
	<string>#D72638</string>
	<key>colors.home.watch.text</key>
	<string>#ffffff</string>
	<key>colors.home.heart</key>
	<string>#FF570A</string>
	<key>colors.lives.icon</key>
	<string>#FF570A</string>
	<key>colors.cashout.icon</key>
	<string>#12355B</string>
	<key>colors.chat.username</key>
	<string>#FF570A</string>
	<key>colors.chat.text</key>
	<string>#ffffff</string>
	<key>colors.winners.share.background</key>
	<string>#FF570A</string>
	<key>colors.winners.share.text</key>
	<string>#ffffff</string>
	<key>colors.answer.correct</key>
	<string>#a1e8af</string>
	<key>colors.answer.wrong</key>
	<string>#e8b0a1</string>
	<key>colors.answer.neutral</key>
	<string>#cccccc</string>
	<key>colors.answer.highlight</key>
	<string>#12355B</string>
	<key>colors.show.warning</key>
	<string>#D72638</string>
	<key>colors.show.success</key>
	<string>#38a643</string>
	<key>colors.show.overlay</key>
	<string>#bf000000</string>
</dict>
</plist>
